<script setup lang="ts">
import { ref, onMounted } from 'vue'

const items = ref()

onMounted(async() => {
  const response = await fetch('https://catfact.ninja/fact')
  items.value = await response.json()
})
</script>

<template>
  <div class="about">
    <h1>This is an about page</h1>
    <ul v-if="items">
      <li v-for="(item, index) in items" :key="index">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
